<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.github.sceneren.album.ui.view.AlbumPickerActivity"
            android:exported="false"
            android:theme="@style/auv_theme_album_picker" />
    </application>
</manifest>
